.booking_details {
 line-height: 40px;
 padding: 20px;
}

.reviewform {
  margin-top: 50px;
  border-right-style: solid;
  border-color: #469AE0;
}
.details_content {
  font-family: roboto;
  color: #469AE0;
}
