.bottom_container {
  background-color: #469AE0;
  opacity: 0.4;
  height: 55vh;
}
.content_container {
  margin: 40px;
}
.icon1 {
  display: block;
  margin: 0 auto;
  height: 60px;
}
.icon_text {
  text-align: center;
  color: white;
  font-size: 20px;
}
.manage {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottop: 10px;
}
