#firstcol {
padding: 10px;
}
#secondcol {
  padding: 10px;
}
.form-inputs {
  width: 300px;
  margin-left: 20px;
 }

.book-title {
  margin-left: 20px;
  margin-bottom: 20px;
}
.form-actions {
  margin-left: 20px;
}
.equip-name {
  font-size: 50px;
}
.img_contain {
  background-color: orange;
}
#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin:25px;
}

