#firstcol {
padding: 10px;
}
#secondcol {
  padding: 10px;
}
.form-inputs {
  width: 300px;
  margin-left: 20px;
 }

.book-title {
  margin-left: 20px;
  margin-bottom: 20px;
}
.form-actions {
  margin-left: 20px;
}
.equip-name {
  font-size: 50px;
}
.img-show {
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgb(100,100,100);
}
