<%= render 'shared/banner' %>
<h1>All our fucking equipment bitches!!!</h1>

<ul>
  <% @equipments.each do |equipment| %>
  <li><%= equipment.name %></li>
  <li><%= equipment.description %></li>
  <li><%= equipment.price %></li>
  <% end %>
</ul>
