<div class="container">
  <h1 class="text-center">My equipment</h1>
  <%= render 'shared/card', @equipment %>
</div>
<div class="bottom_container">
  <h2 class="manage">Manage Your Equipment</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="content_container">
          <img class="icon1" src="https://res.cloudinary.com/djjncf5oe/image/upload/v1534519222/jfgn9gmzueihhyog3yv4.png" alt="">
          <h3 class="icon_text">View equipment</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="content_container">
          <img class="icon1" src="https://res.cloudinary.com/djjncf5oe/image/upload/v1534520031/wmur28ixmivjfvbbcxw0.png" alt="">
          <h3 class="icon_text">Change details</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="content_container">
          <img class="icon1" src="https://res.cloudinary.com/djjncf5oe/image/upload/v1534520109/o0lsejzktfnmcm9gqfe9.png" alt="">
          <h3 class="icon_text">Add photos</h3>
        </div>
      </div>
    </div>
  </div>
</div>



