
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="new_equipment">New Equipment Listing</h3>
      <%= render 'form', equipment: @equipment %>
      <br>
      <%= link_to 'Back', root_path %>
    </div>
    <div class="col-md-6">
      <img class="blue" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/light-blue-tech-geometric-polygonal-motion-background-video-corporate-animation-hd-1920x1080_nde0ffkig__F0000.png" alt="">
    </div>
  </div>
</div>



