<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-football-ball"></i></a>
    <a href="#"><i class="fas fa-futbol"></i></a>
    <a href="#"><i class="fas fa-basketball-ball"></i></a>
    <a href="#"><i class="fas fa-bowling-ball"></i></a>
    <a href="#"><i class="fas fa-volleyball-ball"></i></a>
  </div>
  <div class="footer-copyright">
    This footer was made with <i class="fas fa-beer"></i>  at Le Wagon
  </div>
</div>
